*{
    margin: 0;
    padding: 0;
}
body{
    background: #3a3d47;
    font-family: Verdana;
}
.container{
    width: 1200px;
    background: white;
    margin: 10px auto;

}
.superior{
    background: #1a77f1;
    overflow: hidden;
}
.logo{
    float: left;
    width: 300px;
    padding: 35px;
    border-radius: 10em;
}
.menu{
    float: left;
    padding: 50px;
}
.opciones li{
float: left;
list-style: none;
}
.opciones li a{
    color: white;
    padding: 20px;
    text-decoration: none;
    border: 1px solid white;
}
.opciones li a:hover{
background:#02224c ;
}
img{
    width: 80px;
    height: 80px;
    border-radius:1em;

}
.colegio{
    width: 700px;
    height: 389px;
}
#frontis{
    width: 492px;
    height: 389px;
}
.cuerpo{
    overflow: hidden;
}
.caja{
    float:left;
    width: 380px;
    margin: 8px;
    border: 1px solid;
}
.sujeto{
    width: 380px;
    height: 300px;
}
.sujeto:hover{
    opacity: 0.8;
    cursor: pointer;
}
.subtitulo{
    background: #1551a1;

}
.servicios{
    color: white;
    text-align: center;
    padding: 15px 0;
}
.contenido{
    padding: 20px;
    text-align: justify;
}
.boton{
    padding:15px 20px;
    margin: 20px 0;
    color: white;
    background:#144a91;
    border-radius:1em ;

}
.boton:hover{
    background:#0c2c57;
}
.titulo{
    text-align: center;
    padding: 20px 0 15px 0;
    color:#ff7600;
    font-size: 30px ;
}
